:root{
--colorPrincipal : #690000;
--colorBlanco : #ffffff;
--colorSecundario : #000000;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
}
h1 {
    text-align: right;
    text-transform: uppercase;
    color: var(--colorPrincipal);
    font-size: 3.8rem;
    font-family: "Merriweather", serif;
    }
    span{
        font-size: 2rem;
    }
.navegacion-principal{
    display: flex;
    justify-content: space-between;
}
.navegacion-principal a {
    color: var(--colorBlanco);
    padding: 1rem;
   text-decoration: none;
   font-size: 2rem;
   font-weight: bold;
 }
 .navegacion-principal a:hover {
  background-color: rgb(245, 245, 24);   
  color: var(--colorSecundario);
  }
.contenedor{
    width: 120rem; 
    margin: 0 auto;   
    
}
.nav-bg{
    background-color: var(--colorSecundario) ;
}